/*--------------------------*/
/* Progressive Disclosure   */
/*--------------------------*/
/*.prog-disc-box {
    display: none;
}

.prog-disc-trigger:checked ~ .prog-disc-box, /* support para browsers grado A *
.prog-disc-trigger:checked + label + .prog-disc-box, /* support para browsers que no soporta ~ *
.lt-ie9 .prog-disc-box /* si no soporta ninguno de los anteriores * {
    display:block;
}*/


[aria-hidden='true'] {
	display: none;
}

[aria-hidden='false'] {
	display: block;
}